name: render
on:
  push:
    branches:
    # Limit to the `master` branch
    - master
jobs:
  render:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Render the lightbox
      run: |
        set -x
        # Configure Git for the push from the workflow to the repository
        git config --global user.email "tomas@hubelbauer.net"
        git config --global user.name "Tomas Hubelbauer"
        # Check out the `master` branch because by default GitHub Actions checks out detached HEAD
        git checkout master
        # Run the script
        sudo add-apt-repository ppa:thomas-schiex/blender
        sudo apt-get update
        sudo apt-get install blender -y
        blender --background Gargantua.blend --render-output // --engine CYCLES --render-format PNG --use-extension 1 --render-frame 0
        # Stage the generated data
        git add 0000.png
        # Commit the changes to the Git repository if any
        if git diff-index --quiet HEAD --; then
          exit
        fi
        git commit -m "Capture the render"
        # Authenticate with GitHub using the integration PAT in order not to cause another workflow run
        git remote set-url origin https://tomashubelbauer:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}
        # Pull before pushing to integrate fast forward changes if any
        git pull --rebase
        # Push the generated data to GitHub
        git push
